flows/posts.json
[{"id":"f15896fa.6ee968","type":"tab","label":"Post","disabled":false,"info":""},{"id":"878d6b90.a55dc8","type":"http in","z":"f15896fa.6ee968","name":"[set] /posts","url":"/posts","method":"post","upload":false,"swaggerDoc":"","x":140,"y":80,"wires":[["6f6022a2.92368c"]]},{"id":"6f6022a2.92368c","type":"function","z":"f15896fa.6ee968","name":"Redis HSET posts","func":"msg.payload = ['posts',\n    'data',\n    JSON.stringify({\n    results: [\n        {\n          userId: 1,\n          id: 1,\n          title: \"sunt aut facere repellat provident occaecati excepturi optio reprehenderit\",\n          body:\t\"quia et suscipit\\nsuscipit recusandae consequuntur expedita et cum\\nreprehenderit molestiae ut ut quas totam\\nnostrum rerum est autem sunt rem eveniet architecto\"\n        },\t\n        {\n          userId: 2,\n          id: 2,\n          title: \"qui est esse\",\n          body:\t\"est rerum tempore vitae\\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\\nqui aperiam non debitis possimus qui neque nisi nulla\"\n        },\t\n        {\n          userId: 3,\n          id: 3,\n          title: \"qui est esse\",\n          body:\t\"est rerum tempore vitae\\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\\nqui aperiam non debitis possimus qui neque nisi nulla\"\n        }\t\n    ]\n})];\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":80,"wires":[["e2df5014.81fb4"]]},{"id":"e2df5014.81fb4","type":"redis-command","z":"f15896fa.6ee968","server":"b92ed304.2cb7c","command":"hset","name":"","topic":"","params":"[]","paramsType":"json","x":560,"y":80,"wires":[["87d26c15.52de1"]]},{"id":"87d26c15.52de1","type":"function","z":"f15896fa.6ee968","name":"Result JSON","func":"msg.payload = {\n    \"save_name\": true,\n};\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":80,"wires":[["895c9fd9.19c65"]]},{"id":"895c9fd9.19c65","type":"http response","z":"f15896fa.6ee968","name":"Create Success","statusCode":"","headers":{},"x":990,"y":80,"wires":[]},{"id":"104cc43e.74145c","type":"http in","z":"f15896fa.6ee968","name":"[get] /posts","url":"/posts","method":"get","upload":false,"swaggerDoc":"","x":150,"y":220,"wires":[["bc70744b.0455c8"]]},{"id":"bc70744b.0455c8","type":"function","z":"f15896fa.6ee968","name":"Redis HGET posts","func":"payload = msg.payload\nmsg.payload = ['posts', 'data'];\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":220,"wires":[["d561eaf2.e4b778"]]},{"id":"d561eaf2.e4b778","type":"redis-command","z":"f15896fa.6ee968","server":"b92ed304.2cb7c","command":"hget","name":"","topic":"","params":"[]","paramsType":"json","x":560,"y":220,"wires":[["b18279b1.7624e8"]]},{"id":"b18279b1.7624e8","type":"switch","z":"f15896fa.6ee968","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":220,"wires":[["357236a3.edbd3a"],["376b6961.6428b6"]]},{"id":"357236a3.edbd3a","type":"function","z":"f15896fa.6ee968","name":"Result JSON","func":"msg.payload = {data: \"fail\", msg: \"data doesn't exists\"};\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":180,"wires":[["b254d66d.976138"]]},{"id":"b254d66d.976138","type":"http response","z":"f15896fa.6ee968","name":"GET Data Error","statusCode":"400","headers":{},"x":1150,"y":180,"wires":[]},{"id":"376b6961.6428b6","type":"json","z":"f15896fa.6ee968","name":"Database JSON","property":"payload","action":"","pretty":true,"x":930,"y":320,"wires":[["af9ae655.9a9ca8"]]},{"id":"af9ae655.9a9ca8","type":"http response","z":"f15896fa.6ee968","name":"GET Success","statusCode":"","headers":{},"x":1130,"y":320,"wires":[]},{"id":"79dfd7c2.e24968","type":"http in","z":"f15896fa.6ee968","name":"[get] /posts/:postId","url":"/posts/:postId","method":"get","upload":false,"swaggerDoc":"","x":147,"y":481,"wires":[["b0c4ec8d.1dc34"]]},{"id":"310a45cf.6d347a","type":"function","z":"f15896fa.6ee968","name":"Redis HGET posts","func":"payload = msg.payload;\nmsg.payload = [\"posts\", \"data\"];\nmsg.postId = payload.postId;\nreturn msg;","outputs":1,"noerr":0,"x":388,"y":578,"wires":[["8a8bef85.3227e"]]},{"id":"8a8bef85.3227e","type":"redis-command","z":"f15896fa.6ee968","server":"b92ed304.2cb7c","command":"hget","name":"","topic":"","params":"[]","paramsType":"json","x":617,"y":534,"wires":[["8e7cac18.816b8"]]},{"id":"dd5966cd.d3c958","type":"switch","z":"f15896fa.6ee968","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":871,"y":538,"wires":[["d44a6307.5d38c"],["3ac1c068.6ac06"]]},{"id":"d44a6307.5d38c","type":"function","z":"f15896fa.6ee968","name":"Result JSON","func":"msg.payload = {data: \"fail\", msg: \"data doesn't exists\"};\nreturn msg;","outputs":1,"noerr":0,"x":1026,"y":493,"wires":[["32bff599.9219ea"]]},{"id":"3ac1c068.6ac06","type":"json","z":"f15896fa.6ee968","name":"Database JSON","property":"payload","action":"","pretty":true,"x":1038,"y":581,"wires":[["c41c2655.6bc8c8"]]},{"id":"c41c2655.6bc8c8","type":"http response","z":"f15896fa.6ee968","name":"GET Success","statusCode":"","headers":{},"x":1242,"y":581,"wires":[]},{"id":"32bff599.9219ea","type":"http response","z":"f15896fa.6ee968","name":"GET Data Error","statusCode":"400","headers":{},"x":1219,"y":493,"wires":[]},{"id":"b0c4ec8d.1dc34","type":"change","z":"f15896fa.6ee968","name":"GET Post","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"postId\": msg.req.params.postId\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":275.5,"y":528,"wires":[["310a45cf.6d347a"]]},{"id":"8e7cac18.816b8","type":"function","z":"f15896fa.6ee968","name":"Result JSON","func":"results = msg.payload;\n\nresultObject = JSON.parse(results);\nresultsArray = resultObject.results;\n\nresult = null;\nfor (i = 0, n = resultsArray.length; i < n; i++) {\n    item = resultsArray[i];\n    if (Number(item.id) === Number(msg.postId)) {\n        result = item;\n    }\n}\nmsg.payload = result\n\nreturn msg;","outputs":1,"noerr":0,"x":718,"y":605,"wires":[["dd5966cd.d3c958"]]},{"id":"6454c0b6.74e9f","type":"http in","z":"f15896fa.6ee968","name":"[post] /posts/create","url":"/posts/create","method":"post","upload":false,"swaggerDoc":"","x":109.5,"y":753,"wires":[["9f7033ba.c0c59"]]},{"id":"896cc2c7.004a","type":"change","z":"f15896fa.6ee968","name":"PostParams","rules":[{"t":"set","p":"newPayload","pt":"msg","to":"{\t    \"datatype\": \"posts\",\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":443.5,"y":742,"wires":[["1d84dbe2.5bd974"]]},{"id":"1d84dbe2.5bd974","type":"function","z":"f15896fa.6ee968","name":"Add Source ID to Data","func":"resultObject = JSON.parse(msg.payload);\nresultsArray = resultObject.results;\nmsg.newPayload.data.id = resultsArray.length + 1;\nreturn msg;","outputs":1,"noerr":0,"x":599.5,"y":816,"wires":[["32aa694d.51c9c6"]]},{"id":"32aa694d.51c9c6","type":"function","z":"f15896fa.6ee968","name":"Redis HSET params","func":"newPayload = msg.newPayload;\n\nresultObject = JSON.parse(msg.payload);\nresultsArray = resultObject.results;\n\nnewItem = msg.newPayload.data;\nresultsArray.push(newItem)\n\ntoSave = {\n    results: resultsArray\n}\n\nmsg.payload = ['posts', 'data', JSON.stringify(toSave)];\n\nreturn msg;","outputs":1,"noerr":0,"x":774.5,"y":880,"wires":[["7a7b70ab.312fc"]]},{"id":"7a7b70ab.312fc","type":"redis-command","z":"f15896fa.6ee968","server":"b92ed304.2cb7c","command":"hset","name":"","topic":"","params":"[]","paramsType":"json","x":1036.5,"y":794,"wires":[["4ddc580a.cceed8"]]},{"id":"4ddc580a.cceed8","type":"function","z":"f15896fa.6ee968","name":"Result JSON","func":"msg.payload = {data: \"success\", msg: \"data created successfully\", sid: msg.sid};\nreturn msg;","outputs":1,"noerr":0,"x":1245.5,"y":778,"wires":[["f9c5071.6729cf8"]]},{"id":"f9c5071.6729cf8","type":"http response","z":"f15896fa.6ee968","name":"Create Success","statusCode":"","headers":{},"x":1463,"y":771,"wires":[]},{"id":"9f7033ba.c0c59","type":"function","z":"f15896fa.6ee968","name":"Redis HGET posts","func":"payload = msg.payload\nmsg.payload = ['posts', 'data'];\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":863,"wires":[["e4a8b2e8.a48a3"]]},{"id":"e4a8b2e8.a48a3","type":"redis-command","z":"f15896fa.6ee968","server":"b92ed304.2cb7c","command":"hget","name":"","topic":"","params":"[]","paramsType":"json","x":331,"y":934,"wires":[["896cc2c7.004a"]]},{"id":"2d6748ae.528108","type":"http in","z":"f15896fa.6ee968","name":"[put] /posts/:postId","url":"/posts/:postId","method":"put","upload":false,"swaggerDoc":"","x":115.5,"y":1150,"wires":[["601807b4.ad2d08"]]},{"id":"9779b0bd.d4e27","type":"change","z":"f15896fa.6ee968","name":"PutParams","rules":[{"t":"set","p":"newPayload","pt":"msg","to":"{\t    \"postId\": msg.req.params.postId,\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":463.5,"y":1112,"wires":[["3dfc03f9.899bfc"]]},{"id":"601807b4.ad2d08","type":"function","z":"f15896fa.6ee968","name":"Redis HGET posts","func":"payload = msg.payload\nmsg.payload = ['posts', 'data'];\nreturn msg;","outputs":1,"noerr":0,"x":253,"y":1217,"wires":[["a187a8ae.2b4068"]]},{"id":"a187a8ae.2b4068","type":"redis-command","z":"f15896fa.6ee968","server":"b92ed304.2cb7c","command":"hget","name":"","topic":"","params":"[]","paramsType":"json","x":394,"y":1288,"wires":[["9779b0bd.d4e27"]]},{"id":"3dfc03f9.899bfc","type":"function","z":"f15896fa.6ee968","name":"Redis UPDATE data","func":"newPayload = msg.newPayload;\n\nresultObject = JSON.parse(msg.payload);\nresultsArray = resultObject.results;\n\nnewItem = msg.newPayload.data;\n\nnewResultsArray = [];\nfor (i = 0, n = resultsArray.length; i < n; i++) {\n    item = resultsArray[i];\n    if (Number(item.id) === Number(newItem.id)) {\n        newResultsArray.push(newItem);\n    } else {\n        newResultsArray.push(item);\n    }\n}\n\ntoSave = {\n    results: newResultsArray\n}\n\n\nconsole.log('toSave ', toSave)\n\n\nmsg.payload = ['posts', 'data', JSON.stringify(toSave)];\n\nreturn msg;","outputs":1,"noerr":0,"x":724.5,"y":1163,"wires":[["e58e54f4.05d4c8"]]},{"id":"e58e54f4.05d4c8","type":"redis-command","z":"f15896fa.6ee968","server":"b92ed304.2cb7c","command":"hset","name":"","topic":"","params":"[]","paramsType":"json","x":973,"y":1201,"wires":[["b1ce4ed3.c71d6"]]},{"id":"b1ce4ed3.c71d6","type":"function","z":"f15896fa.6ee968","name":"Result JSON","func":"msg.payload = {data: \"success\", msg: \"data created successfully\", sid: msg.sid};\nreturn msg;","outputs":1,"noerr":0,"x":1182,"y":1185,"wires":[["1629f685.bd6359"]]},{"id":"1629f685.bd6359","type":"http response","z":"f15896fa.6ee968","name":"Update Success","statusCode":"","headers":{},"x":1399.5,"y":1178,"wires":[]},{"id":"b92ed304.2cb7c","type":"redis-config","z":"","name":"172.17.0.2:6379","options":"172.17.0.2:6379","cluster":false,"optionsType":"str"}]