flows/users.json
[{"id":"44ef93de.59170c","type":"tab","label":"Users","disabled":false,"info":""},{"id":"74a4b163.feb99","type":"http in","z":"44ef93de.59170c","name":"[set] /users","url":"/users","method":"post","upload":false,"swaggerDoc":"","x":100,"y":80,"wires":[["e90eefcd.4fb7a"]]},{"id":"a7c060d4.ed087","type":"redis-command","z":"44ef93de.59170c","server":"b92ed304.2cb7c","command":"hset","name":"","topic":"","params":"[]","paramsType":"json","x":520,"y":80,"wires":[["e53d746c.ce5b08"]]},{"id":"e53d746c.ce5b08","type":"function","z":"44ef93de.59170c","name":"Result JSON","func":"msg.payload = {\n    \"save_name\": true,\n};\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":80,"wires":[["13f98ca2.f57923"]]},{"id":"13f98ca2.f57923","type":"http response","z":"44ef93de.59170c","name":"Create Success","statusCode":"","headers":{},"x":950,"y":80,"wires":[]},{"id":"66cced20.aa1024","type":"http in","z":"44ef93de.59170c","name":"[get] /users","url":"/users","method":"get","upload":false,"swaggerDoc":"","x":110,"y":220,"wires":[["eda25131.40721"]]},{"id":"eda25131.40721","type":"function","z":"44ef93de.59170c","name":"Redis HGET users","func":"payload = msg.payload\nmsg.payload = ['users', 'data'];\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":220,"wires":[["afa57049.e76e3"]]},{"id":"afa57049.e76e3","type":"redis-command","z":"44ef93de.59170c","server":"b92ed304.2cb7c","command":"hget","name":"","topic":"","params":"[]","paramsType":"json","x":520,"y":220,"wires":[["86b27989.e44138"]]},{"id":"86b27989.e44138","type":"switch","z":"44ef93de.59170c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":220,"wires":[["5994b8e1.adb658"],["6fb25927.755098"]]},{"id":"5994b8e1.adb658","type":"function","z":"44ef93de.59170c","name":"Result JSON","func":"msg.payload = {data: \"fail\", msg: \"data doesn't exists\"};\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":180,"wires":[["a5541ef5.400c1"]]},{"id":"a5541ef5.400c1","type":"http response","z":"44ef93de.59170c","name":"GET Data Error","statusCode":"400","headers":{},"x":1110,"y":180,"wires":[]},{"id":"6fb25927.755098","type":"json","z":"44ef93de.59170c","name":"Database JSON","property":"payload","action":"","pretty":true,"x":890,"y":320,"wires":[["eb81f642.e427f8"]]},{"id":"eb81f642.e427f8","type":"http response","z":"44ef93de.59170c","name":"GET Success","statusCode":"","headers":{},"x":1090,"y":320,"wires":[]},{"id":"650997c3.0feb68","type":"http in","z":"44ef93de.59170c","name":"[get] /users/:userId","url":"/users/:userId","method":"get","upload":false,"swaggerDoc":"","x":150,"y":353,"wires":[["bd2579a5.3f5d88"]]},{"id":"1fadcd23.2c2a23","type":"function","z":"44ef93de.59170c","name":"Redis HGET users","func":"payload = msg.payload;\nmsg.payload = [\"users\", \"data\"];\nmsg.userId = payload.userId;\nreturn msg;","outputs":1,"noerr":0,"x":387,"y":548,"wires":[["73f6e213.31145c"]]},{"id":"73f6e213.31145c","type":"redis-command","z":"44ef93de.59170c","server":"b92ed304.2cb7c","command":"hget","name":"","topic":"","params":"[]","paramsType":"json","x":557,"y":482,"wires":[["24c792e2.b395ae"]]},{"id":"d233ab7c.ff3148","type":"switch","z":"44ef93de.59170c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":859,"y":482,"wires":[["29bf3511.ca9a1a"],["171d73da.0c037c"]]},{"id":"29bf3511.ca9a1a","type":"function","z":"44ef93de.59170c","name":"Result JSON","func":"msg.payload = {data: \"fail\", msg: \"data doesn't exists\"};\nreturn msg;","outputs":1,"noerr":0,"x":1055,"y":445,"wires":[["b1b7c948.fa0068"]]},{"id":"171d73da.0c037c","type":"json","z":"44ef93de.59170c","name":"Database JSON","property":"payload","action":"","pretty":true,"x":1051,"y":537,"wires":[["2ff6c79.b76c538"]]},{"id":"2ff6c79.b76c538","type":"http response","z":"44ef93de.59170c","name":"GET Success","statusCode":"","headers":{},"x":1303,"y":560,"wires":[]},{"id":"b1b7c948.fa0068","type":"http response","z":"44ef93de.59170c","name":"GET Data Error","statusCode":"400","headers":{},"x":1281,"y":422,"wires":[]},{"id":"bd2579a5.3f5d88","type":"change","z":"44ef93de.59170c","name":"GET User","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"userId\": msg.req.params.userId\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":292.5,"y":424,"wires":[["1fadcd23.2c2a23"]]},{"id":"e90eefcd.4fb7a","type":"function","z":"44ef93de.59170c","name":"Redis HSET users","func":"msg.payload = ['users',\n    'data',\n    JSON.stringify({\n    results: [\n        {\n          id:\t1,\n          name:\t\"Leanne Graham\",\n          username:\t\"Bret\",\n          email:\t\"Sincere@april.biz\",\n          address: {\t\n                street:\t\"Kulas Light\",\n                suite:\t\"Apt. 556\",\n                city:\t\"Gwenborough\",\n                zipcode: \"92998-3874\",\n                geo: {\n                    lat: \"-37.3159\",\n                    lng: \"81.1496\",\n                }\n          },\n          phone: \"1-770-736-8031 x56442\",\n          website: \"hildegard.org\",\n          company: {\t\n            name:\t\"Romaguera-Crona\",\n            catchPhrase:\t\"Multi-layered client-server neural-net\",\n            bs:\t\"harness real-time e-markets\"\n          }\n        },\t\n        {\n          id:\t2,\n          name:\t\"Ervin Howell\",\n          username:\t\"Antonette\",\n          email:\t\"Shanna@melissa.tv\",\n          address: {\t\n                street:\t\"Victor Plains\",\n                suite:\t\"Suite 879\",\n                city:\t\"Wisokyburgh\",\n                zipcode: \"90566-7771\",\n                geo: {\n                    lat: \"-43.9509\",\n                    lng: \"-34.4618\",\n                }\n          },\n          phone: \"1-463-123-4447\",\n          website: \"ramiro.info\",\n          company: {\t\n            name: \"Romaguera-Jacobson\",\n            catchPhrase: \"Face to face bifurcated interface\",\n            bs:\t\"e-enable strategic applcations\"\n          }\n        },\n        {\n          id: 3,\n          name:\t\"Clementine Bauch\",\n          username:\t\"Samantha\",\n          email:\t\"Nathan@yesenia.net\",\n          address: {\t\n                street:\t\"Douglas Extension\",\n                suite:\t\"Suite 847\",\n                city:\t\"McKenziehaven\",\n                zipcode: \"59590-4157\",\n                geo: {\n                    lat: \"-68.6102\",\n                    lng: \"-47.0653\",\n                }\n          },\n          phone:\t\"1-770-736-8031 x56442\",\n          website:\t\"hildegard.org\",\n          company: {\t\n            name:\t\"Romaguera-Crona\",\n            catchPhrase:\t\"Multi-layered client-server neural-net\",\n            bs:\t\"harness real-time e-markets\"\n          }\n        },\n        {\n          id:\t4,\n          name:\t\"Patricia Lebsack\",\n          username:\t\"Karianne\",\n          email: \"Julianne.OConner@kory.org\",\n          address: {\t\n                street: \"Hoeger Mall\",\n                suite:\t\"Apt. 692\",\n                city:\t\"South Elvis\",\n                zipcode: \"53919-4257\",\n                geo: {\n                    lat: \"29.4572\",\n                    lng: \"-164.2990\",\n                }\n          },\n          phone: \"493-170-9623 x156\",\n          website: \"kale.biz\",\n          company: {\t\n            name: \"Robel-Corkery\",\n            catchPhrase: \"Multi-tiered zero tolerance productivity\",\n            bs:\t\"transition cutting-edge web services\"\n          }\n        },\n    ]\n})];\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":80,"wires":[["a7c060d4.ed087"]]},{"id":"24c792e2.b395ae","type":"function","z":"44ef93de.59170c","name":"Result JSON","func":"results = msg.payload;\n\nresultObject = JSON.parse(results);\nresultsArray = resultObject.results;\n\nresult = null;\nfor (i = 0, n = resultsArray.length; i < n; i++) {\n    item = resultsArray[i];\n    if (Number(item.id) === Number(msg.userId)) {\n        result = item;\n    }\n}\nmsg.payload = result\n\nreturn msg;","outputs":1,"noerr":0,"x":721,"y":550,"wires":[["d233ab7c.ff3148"]]},{"id":"dd909420.d58f28","type":"http in","z":"44ef93de.59170c","name":"[post] /users/create","url":"/users/create","method":"post","upload":false,"swaggerDoc":"","x":137,"y":748,"wires":[["38fb1c29.c589d4"]]},{"id":"80fb5ef3.d74df","type":"change","z":"44ef93de.59170c","name":"PostParams","rules":[{"t":"set","p":"newPayload","pt":"msg","to":"{\t    \"datatype\": \"users\",\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":471,"y":737,"wires":[["f23b355e.af66f8"]]},{"id":"f23b355e.af66f8","type":"function","z":"44ef93de.59170c","name":"Add Source ID to Data","func":"resultObject = JSON.parse(msg.payload);\nresultsArray = resultObject.results;\nmsg.newPayload.data.id = resultsArray.length + 1;\nreturn msg;","outputs":1,"noerr":0,"x":627,"y":811,"wires":[["af78bdbb.c265d"]]},{"id":"af78bdbb.c265d","type":"function","z":"44ef93de.59170c","name":"Redis HSET params","func":"newPayload = msg.newPayload;\n\nresultObject = JSON.parse(msg.payload);\nresultsArray = resultObject.results;\n\nnewItem = msg.newPayload.data;\nresultsArray.push(newItem)\n\ntoSave = {\n    results: resultsArray\n}\n\nconsole.log('TO SAVE', toSave)\n\nmsg.payload = ['users', 'data', JSON.stringify(toSave)];\n\nreturn msg;","outputs":1,"noerr":0,"x":802,"y":875,"wires":[["63e2547d.e001cc"]]},{"id":"63e2547d.e001cc","type":"redis-command","z":"44ef93de.59170c","server":"b92ed304.2cb7c","command":"hset","name":"","topic":"","params":"[]","paramsType":"json","x":1064,"y":789,"wires":[["9f7c7ca8.2e69e"]]},{"id":"9f7c7ca8.2e69e","type":"function","z":"44ef93de.59170c","name":"Result JSON","func":"msg.payload = {data: \"success\", msg: \"data created successfully\", sid: msg.sid};\nreturn msg;","outputs":1,"noerr":0,"x":1273,"y":773,"wires":[["b3f8349f.18cc18"]]},{"id":"b3f8349f.18cc18","type":"http response","z":"44ef93de.59170c","name":"Create Success","statusCode":"","headers":{},"x":1490.5,"y":766,"wires":[]},{"id":"38fb1c29.c589d4","type":"function","z":"44ef93de.59170c","name":"Redis HGET users","func":"payload = msg.payload\nmsg.payload = ['users', 'data'];\nreturn msg;","outputs":1,"noerr":0,"x":217.5,"y":858,"wires":[["cbdee081.ef3c9"]]},{"id":"cbdee081.ef3c9","type":"redis-command","z":"44ef93de.59170c","server":"b92ed304.2cb7c","command":"hget","name":"","topic":"","params":"[]","paramsType":"json","x":358.5,"y":929,"wires":[["80fb5ef3.d74df"]]},{"id":"b205d482.8e9d38","type":"http in","z":"44ef93de.59170c","name":"[put] /users/:userId","url":"/users/:userId","method":"put","upload":false,"swaggerDoc":"","x":192,"y":1075,"wires":[["2a6a7b1e.1adbc4"]]},{"id":"16cd5edf.15ded1","type":"change","z":"44ef93de.59170c","name":"PutParams","rules":[{"t":"set","p":"newPayload","pt":"msg","to":"{\t    \"postId\": msg.req.params.postId,\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1037,"wires":[["3a7eff07.f1802"]]},{"id":"2a6a7b1e.1adbc4","type":"function","z":"44ef93de.59170c","name":"Redis HGET users","func":"payload = msg.payload\nmsg.payload = ['users', 'data'];\nreturn msg;","outputs":1,"noerr":0,"x":329.5,"y":1142,"wires":[["9381275e.b8b858"]]},{"id":"9381275e.b8b858","type":"redis-command","z":"44ef93de.59170c","server":"b92ed304.2cb7c","command":"hget","name":"","topic":"","params":"[]","paramsType":"json","x":470.5,"y":1213,"wires":[["16cd5edf.15ded1"]]},{"id":"3a7eff07.f1802","type":"function","z":"44ef93de.59170c","name":"Redis UPDATE data","func":"newPayload = msg.newPayload;\n\nresultObject = JSON.parse(msg.payload);\nresultsArray = resultObject.results;\n\nnewItem = msg.newPayload.data;\n\nnewResultsArray = [];\nfor (i = 0, n = resultsArray.length; i < n; i++) {\n    item = resultsArray[i];\n    if (Number(item.id) === Number(newItem.id)) {\n        newResultsArray.push(newItem);\n    } else {\n        newResultsArray.push(item);\n    }\n}\n\ntoSave = {\n    results: newResultsArray\n}\n\n\nconsole.log('toSave ', toSave)\n\n\nmsg.payload = ['users', 'data', JSON.stringify(toSave)];\n\nreturn msg;","outputs":1,"noerr":0,"x":801,"y":1088,"wires":[["a2e79a16.8d45d8"]]},{"id":"a2e79a16.8d45d8","type":"redis-command","z":"44ef93de.59170c","server":"b92ed304.2cb7c","command":"hset","name":"","topic":"","params":"[]","paramsType":"json","x":1049.5,"y":1126,"wires":[["b016ee51.6f775"]]},{"id":"b016ee51.6f775","type":"function","z":"44ef93de.59170c","name":"Result JSON","func":"msg.payload = {data: \"success\", msg: \"data created successfully\", sid: msg.sid};\nreturn msg;","outputs":1,"noerr":0,"x":1258.5,"y":1110,"wires":[["c1ab75a6.f265e8"]]},{"id":"c1ab75a6.f265e8","type":"http response","z":"44ef93de.59170c","name":"Update Success","statusCode":"","headers":{},"x":1476,"y":1103,"wires":[]},{"id":"b92ed304.2cb7c","type":"redis-config","z":"","name":"172.17.0.2:6379","options":"172.17.0.2:6379","cluster":false,"optionsType":"str"}]